---
layout: "base.njk"
title: "Top Self® Organic"
tagline: "Organic Products at Non-Organic Prices"
---

<!-- Home Banner -->
<section class="home-banner">
    <h1 class="home-banner--heading">{{ title }}</h1>
    <img src="assets/images/headers/bags-header-desktop.png" alt="" class="home-banner--bags-shelf desktop-only">
    <img src="assets/images/headers/bags-header-mobile.png" alt="" class="home-banner--bags-shelf mobile-only">
    <p class="home-banner--subhead">
        {{ tagline}}
    </p>
    <p class="home-banner--description">
        In Stores Now
    </p>
    <!-- Begin Social Block -->
    <ul class="social-block">
        {% for socials in settings.socials %}
        <li><a href="{{ socials.url }}"><i class="fa fa-{{ socials.name }}"></i></a></li>
        {% endfor %}
    </ul><!-- End Social Block -->
    <span class="arrow-down">
        <img src="assets/images/arrow-down.svg" alt="Scroll down to learn more." width="40px" height="40px">
    </span>
</section><!-- End Home Banner -->

<!-- Begin Main Content -->
<main>
    <!-- Home Content - OMRI Section -->
    <section class="home-content-section omri-section">
        <img src="assets/images/home-omri-bg.jpg" alt="" class="mobile-only">
        <div class="omri-card">
            <h2>Omri Listed</h2>
            <p>Organic Materials Review Institute (OMRI) is a nonprofit organization that provides an independent
                review of the ingredients in products such as soils, fertilizers, soil amendments, and thousands of
                other products. OMRI focuses purely on what goes into making these products to certify all the
                inputs are organic. The OMRI seal ensures everything in the Top Shelf bags are produced 100%
                organically.</p>
            <img src="assets/images/omri-logo.png" alt="OMRI Listed, For Organic Use">
            <div class="divider-line-1"></div>
            <a href="https://www.omri.org/about-omri-listed-products" class="primary-button">Learn More</a>
        </div>
    </section><!-- End Home Content - OMRI Section -->

    <!-- Products Section -->
    <section class="our-products">
        <h2>Our Products</h2>
        <ul class="product-cards-list">
         {% for products in collections.products %}
            <li class="product-card card-{{ products.data.slug }}">
                <a href="#"><img src="{{ products.data.image }}" alt=""
                        class="product-card-image"></a>
                <div class="proudct-card--text">
                    <h3 class="product-card--title">{{ products.data.title }}</h3>
                    <p class="product-card--description">{{ products.data.description }}</p>
                    <a href="{{ products.url }}" class="product-card--link">Learn More</a>
                </div>
            </li><!-- End Product Card -->
            {% endfor %}
            </ul>
    </section><!-- End Products Sections -->